esphome:
  name: cuarto-juegos

esp8266:
  board: d1_mini_lite

spi:
  clk_pin: 14
  miso_pin: 12
  mosi_pin: 13

rc522_spi:
  cs_pin: 5
  reset_pin: 4
  update_interval: 1s

  on_tag:
    then:
      - homeassistant.tag_scanned: !lambda "return x;"

logger:

api:
  encryption:
    key: !secret api_key

ota:
  platform: esphome
  password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  manual_ip:
    static_ip: !secret ip_cuarto_juegos
    gateway: !secret gateway
    subnet: !secret subnet

  ap:
    ssid: "Cuarto-Juegos"
    password: !secret ap_password

captive_portal:

web_server:
  port: 80

# ////////////////////////////////////////////////////////////////////////

binary_sensor:
  - platform: status
    name: "Cuarto Juegos"

  - platform: rc522
    uid: 7A-9D-61-1A
    name: "TodoOFF"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

  - platform: rc522
    uid: B2-E7-60-80
    name: "Tv"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

  - platform: rc522
    uid: 26-CA-61-80
    name: "Ventilador"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

  - platform: rc522
    uid: B5-25-62-80
    name: "LuzJuegos"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

  - platform: rc522
    uid: 7A-2A-61-80
    name: "Lampara"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

  - platform: rc522
    uid: 8D-87-61-80
    name: "GiroVentilador"
    on_press:
      then:
        - switch.turn_on: buzzer_switch
        - delay: 500ms
        - switch.turn_off: buzzer_switch

output:
  - platform: gpio
    pin: 3
    id: buzzer_out

  - platform: gpio
    pin: 2
    inverted: true
    id: led_builtin

switch:
  - platform: output
    name: "Zumbador"
    output: buzzer_out
    id: buzzer_switch

text_sensor:
  - platform: wifi_info
    ip_address:
      name: "IP ESP CuartoJuegos"
