esphome:
  name: temperatura

esp8266:
  board: d1_mini_lite

# Enable logging
logger:

# Enable Home Assistant API
api:
  encryption:
    key: !secret api_key

# ota:
ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  manual_ip:
    static_ip: !secret ip_temperatura
    gateway: !secret gateway
    subnet: !secret subnet
    dns1: 8.8.8.8
    dns2: 1.1.1.1

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Temperatura"
    password: !secret ap_password

captive_portal:

web_server:
  port: 80

  # ////////////////////////////////////////////////////////////////////////

# -------- I2C --------
i2c:
  sda: D2
  scl: D1
  scan: true

# -------- HTTP --------
http_request:
  useragent: esphome/d1mini
  timeout: 5s
  verify_ssl: false
  id: http_request_sala1

# -------- VARIABLES --------
globals:
  - id: last_temp_sent
    type: float
    initial_value: "NAN"

  - id: temp_to_send
    type: float
  - id: hum_to_send
    type: float

# -------- SHT30 --------
sensor:
  - platform: sht3xd
    address: 0x45
    update_interval: 10s

    temperature:
      id: temp_sht30

    humidity:
      id: hum_sht30

# -------- TIME --------
time:
  - platform: sntp
    id: esptime

# -------- ACRIPT ENVÍO A FIREBASE TEMP Y HUM --------
script:
  - id: send_temp_hum
    mode: parallel
    then:
      - http_request.send:
          id: http_request_sala1
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/sensores/Sala_1.json"
          headers:
            Content-Type: application/json
          body: !lambda |-
            char buffer[64];
            sprintf(buffer, "{\"temperatura\": %.2f, \"humedad\": %.2f}", id(temp_to_send), id(hum_to_send));
            return (std::string) buffer;

# -------- LECTURA TEMP Y HUM --------
interval:
  - interval: 10s
    then:
      - lambda: |-
          float temp = id(temp_sht30).state;
          float hum  = id(hum_sht30).state;
          if (isnan(temp)) return;

          if (isnan(id(last_temp_sent)) || fabs(temp - id(last_temp_sent)) >= 0.5) {
            id(temp_to_send) = temp;
            id(hum_to_send) = hum;
            id(last_temp_sent) = temp;
            
            id(send_temp_hum).execute();
            
          }

  # -------- ENVÍO A FIREBASE HEARTBEAT (SIGUE VIVO) --------
  - interval: 60s
    then:
      - http_request.send:
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/heartbeat/Sala_1.json"
          headers:
            Content-Type: application/json
          body: '{"timestamp":{".sv":"timestamp"}}'

  # -------- GRAFICA --------
  - interval: 60s
    then:
      - http_request.post:
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/grafica/Sala_1.json"
          headers:
            Content-Type: application/json
          body: !lambda |-
            float t = id(temp_sht30).state;
            if (isnan(t)) return std::string("");

            time_t now = id(esptime).now().timestamp;

            char body[64];
            snprintf(
              body,
              sizeof(body),
              "{\"t\": %.2f, \"ts\": %lu}",
              t,
              (unsigned long)now
            );
            return std::string(body);

          capture_response: false
