esphome:
  name: temperatura

esp8266:
  board: d1_mini_lite

# Enable logging
logger:

# ota:
ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  on_connect:
    then:
      - script.stop: wifi_connecting
      - script.execute: wifi_connected

  on_disconnect:
    then:
      - script.execute: wifi_connecting

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Temperatura sala_4"
    password: !secret ap_password

captive_portal:

web_server:
  port: 80

  # ////////////////////////////////////////////////////////////////////////

# -------- I2C --------
i2c:
  sda: D2
  scl: D1
  scan: true

# -------- HTTP --------
http_request:
  useragent: esphome/d1mini
  timeout: 5s
  verify_ssl: false
  id: http_request_sala4

# -------- VARIABLES --------
globals:
  - id: last_temp_sent
    type: float
    initial_value: "NAN"

  - id: temp_to_send
    type: float
  - id: hum_to_send
    type: float

# -------- SHT30 --------
sensor:
  - platform: sht3xd
    address: 0x45
    update_interval: 10s

    temperature:
      id: temp_sht30

    humidity:
      id: hum_sht30

#---------- LED ESTADO WIFI -----------
output:
  - platform: gpio
    pin:
      number: D4
      # inverted: true
    id: wifi_led

light:
  - platform: binary
    output: wifi_led
    id: wifi_led_light

# -------- TIME --------
time:
  - platform: sntp
    id: esptime
    timezone: "America/Bogota"

# -------- SCRIPT ENVÍO A FIREBASE TEMP Y HUM --------
script:
  - id: send_temp_hum
    mode: parallel
    then:
      - http_request.send:
          id: http_request_sala4
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/sensores/Sala_4.json"
          headers:
            Content-Type: application/json
          body: !lambda |-
            char buffer[64];
            sprintf(buffer, "{\"temperatura\": %.2f, \"humedad\": %.2f}", id(temp_to_send), id(hum_to_send));
            return (std::string) buffer;

  #---------- SCRIPT CONEXION WIFI ------------------------
  - id: wifi_connecting
    mode: restart
    then:
      - while:
          condition:
            not:
              wifi.connected:
          then:
            - light.turn_on: wifi_led_light
            - delay: 300ms
            - light.turn_off: wifi_led_light
            - delay: 300ms

  - id: wifi_connected
    then:
      - light.turn_on: wifi_led_light

  - id: wifi_disconnected
    then:
      - light.turn_off: wifi_led_light

# -------- LECTURA TEMP Y HUM --------
interval:
  - interval: 10s
    then:
      - lambda: |-
          float temp = id(temp_sht30).state;
          float hum  = id(hum_sht30).state;
           if (isnan(temp)) return;

           if (isnan(id(last_temp_sent)) || fabs(temp - id(last_temp_sent)) >= 0.5) {
             id(temp_to_send) = temp;
             id(hum_to_send) = hum;
             id(last_temp_sent) = temp;
             
             id(send_temp_hum).execute();
             
           }

  # -------- ENVÍO A FIREBASE HEARTBEAT (SIGUE VIVO) --------
  - interval: 60s
    then:
      - http_request.send:
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/heartbeat/Sala_4.json"
          headers:
            Content-Type: application/json
          body: '{"timestamp":{".sv":"timestamp"}}'

  # -------- GRAFICA --------
  - interval: 60s
    then:
      - http_request.post:
          url: !lambda |-
            auto now = id(esptime).now();
            char url_buffer[128];
            sprintf(url_buffer, "https://alarmas-itx-default-rtdb.firebaseio.com/grafica/Sala_4/%04d-%02d-%02d.json", 
                    now.year, now.month, now.day_of_month);
            return (std::string) url_buffer;
          headers:
            Content-Type: application/json
          body: !lambda |-
            float t = id(temp_sht30).state;

            if (isnan(t)) return std::string("");

            time_t now = id(esptime).now().timestamp;
            unsigned long long ts_ms = (unsigned long long) now * 1000ULL;

            char body[64];
            snprintf(
              body,
              sizeof(body),
              "{\"t\": %.2f, \"ts\": %llu}",
              t,
              ts_ms
            );
            return std::string(body);

          capture_response: false