esphome:
  name: temperatura

esp8266:
  board: d1_mini_lite

# Enable logging
logger:

# ota:
ota:
  - platform: esphome
    password: !secret ota_password

wifi:
  ssid: APNogales
  password: Igga2023
  
  on_connect:
    then:
      - script.stop: wifi_connecting
      - script.execute: wifi_connected

  on_disconnect:
    then:
      - script.execute: wifi_connecting

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Temperatura sala_2"
    password: !secret ap_password

captive_portal:

web_server:
  port: 80

  # ////////////////////////////////////////////////////////////////////////

# -------- HTTP --------
http_request:
  useragent: esphome/d1mini
  timeout: 5s
  verify_ssl: false
  id: http_request_sala2

# -------- VARIABLES --------
globals:
  - id: last_temp_sent
    type: float
    initial_value: "NAN"

  - id: temp_to_send
    type: float
  - id: hum_to_send
    type: float

# -------- DHT11 --------
sensor:
  - platform: dht
    pin: D1
    model: DHT11
    update_interval: 30s

    temperature:
      id: temp_dht
      name: "Temperatura Sala 2"

    humidity:
      id: hum_dht
      name: "Humedad Sala 2"

#---------- LED ESTADO WIFI -----------
output:
  - platform: gpio
    pin:
      number: D4
      # inverted: true
    id: wifi_led

light:
  - platform: binary
    output: wifi_led
    id: wifi_led_light

# -------- TIME --------
time:
  - platform: sntp
    id: esptime

# -------- SCRIPT ENVÍO A FIREBASE TEMP Y HUM --------
script:
  - id: send_temp_hum
    mode: parallel
    then:
      - http_request.send:
          id: http_request_sala2
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/sensores/Sala_2.json"
          headers:
            Content-Type: application/json
          body: !lambda |-
            char buffer[64];
            sprintf(buffer, "{\"temperatura\": %.2f, \"humedad\": %.2f}", id(temp_to_send), id(hum_to_send));
            return (std::string) buffer;

#---------- SCRIPT CONEXION WIFI ------------------------
  - id: wifi_connecting
    mode: restart
    then:
      - while:
          condition:
            not:
              wifi.connected:
          then:
            - light.turn_on: wifi_led_light
            - delay: 300ms
            - light.turn_off: wifi_led_light
            - delay: 300ms

  - id: wifi_connected
    then:
      - light.turn_on: wifi_led_light

  - id: wifi_disconnected
    then:
      - light.turn_off: wifi_led_light            

# -------- LECTURA TEMP Y HUM --------
interval:
  - interval: 10s
    then:
      - lambda: |-
         float temp = id(temp_dht).state;
         float hum  = id(hum_dht).state;
          if (isnan(temp)) return;

          if (isnan(id(last_temp_sent)) || fabs(temp - id(last_temp_sent)) >= 0.5) {
            id(temp_to_send) = temp;
            id(hum_to_send) = hum;
            id(last_temp_sent) = temp;
            
            id(send_temp_hum).execute();
            
          }

  # -------- ENVÍO A FIREBASE HEARTBEAT (SIGUE VIVO) --------
  - interval: 60s
    then:
      - http_request.send:
          method: PATCH
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/heartbeat/Sala_2.json"
          headers:
            Content-Type: application/json
          body: '{"timestamp":{".sv":"timestamp"}}'

  # -------- GRAFICA --------
  - interval: 60s
    then:
      - http_request.post:
          url: "https://alarmas-itx-default-rtdb.firebaseio.com/grafica/Sala_2.json"
          headers:
            Content-Type: application/json
          body: !lambda |-
            float t = id(temp_dht).state;

            if (isnan(t)) return std::string("");

            time_t now = id(esptime).now().timestamp;
            unsigned long long ts_ms = (unsigned long long) now * 1000ULL;

            char body[64];
            snprintf(
              body,
              sizeof(body),
              "{\"t\": %.2f, \"ts\": %llu}",
              t,
              ts_ms
            );
            return std::string(body);

          capture_response: false
